<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>My Dance Display</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    
  </head>
  <body>
    <div id="container">
      <div id="info">
        <h3>Berlin Contra by Linda Leslie </h3>
        Music from a mix by Mike Boerschig
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="450" height="600" viewBox="-300 -300 600 800">
        <rect x="-300" y="-300" width="600" height="800" fill="none" stroke-width="1" stroke="black" />
        <g id="d0" transform="translate(100,-200)" class="dancer">
          <g style="fill:#faea07; stroke:#66552f" transform="rotate(180)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)" />
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>
          </g>
          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">L1</text>
          <animateMotion id="anim0" begin="indefinite" fill="freeze"/>
        </g>



        <g id="d2" transform="translate(-100,-50)" class="dancer">
          <g style="fill:#faea07; stroke:#66552f" transform="rotate(0)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)"/>
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>
            <!--<circle fill="none" stroke="blue" cx="0" cy="-34.5" r="34.5" />-->
          </g>

          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">L2</text>
          <animateMotion id="anim2" begin="indefinite" fill="freeze"/>
        </g>

        <g id="d4" transform="translate(-100,100)" class="dancer">
          <g style="fill:#faea07; stroke:#66552f" transform="rotate(0)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)"/>
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>

          </g>

          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">L3</text>
          <animateMotion id="anim4" begin="indefinite" fill="freeze"/>
        </g>

        <g id="d1" transform="translate(-100,-200)" class="dancer">
          <g style="fill:#fa5a17; stroke:#222" id="r1" transform="rotate(180)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)"/>
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>


          </g>
          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">R1</text>
          <animateMotion id="anim1" begin="indefinite" fill="freeze"/>
        </g>

        <g id="d3" transform="translate(100,-50)" class="dancer">
          <g style="fill:#fa5a17; stroke:#222" id="r2" transform="rotate(0)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)"/>
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>
            <!--<animateMotion id="test" rotate="auto" fill="freeze" begin="indefinite" dur="1s" path="M0 20 A80 80 0 0 1 -45 94" />-->

          </g>
          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">R2</text>
          <!--<animateMotion id="test" fill="freeze" begin="indefinite" dur="0.6s" path="M0 0 a97 97 0 0 1 -97 97" />-->
          <animateMotion id="anim3" begin="indefinite" fill="freeze"/>
        </g>

        <g id="d5" transform="translate(100,100)" class="dancer">
          <g style="fill:#fa5a17; stroke:#222" id="r3" transform="rotate(0)">
            <ellipse cx="0" cy="0" rx="50" ry="20" />
            <ellipse cx="0" cy="0" rx="18" ry="20" />
            <rect class="right" x="0" y="-5" width="50" height="10" rx="3" transform="translate(48, 0) rotate(-135)"/>
            <rect class="left" x="0" y="-5" width="50" height="10" rx="3" transform="translate(-48, 0) rotate(-45)"/>


          </g>
          <text x="0" y="5" style="font-family:sans-serif; text-anchor:middle; font-weight:bold">R3</text>
          <animateMotion id="anim5" begin="indefinite" fill="freeze"/>
        </g>
        <!--<circle fill="none" cx="-100" cy="-125" r="34.5" stroke-width="2" stroke="black" />-->

        <!--
        <circle cx="0" cy="-125" r="5" />
        <path stroke="blue" stroke-width="3" fill="none" d="M97 0 a97 97 0 0 1 -97 97" />-->
      </svg>
    </div>
    <button id="button" type="button">Go</button>
    <button id="play" type="button">Play</button>
    <button id="reset" type="button">Reset</button>
    <div id="call">

    </div>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script src="/test.js"></script>
  </body>
</html>